.App {
  text-align: center;
}

.container {
  max-width: 100%;
}

form {
  margin-left: 453px;
}

.tos {
  display: inline-block;
}


input {
  width: 90%;
  border: 1px solid lightblue;
  margin-bottom: 10px;

}

.card {
  max-width: 50%;
  margin-top: 60px;
  
}
  

