.App {
  text-align: center;
}

.container {
  padding-top: 75px 0;
  max-width: 100%;
}

form {
  margin-left: 453px;
}

.error {
  color: #721c24;
  background: #da7881;
  
}


input {
  width: 90%;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  background:#ff6600;

}

.card {
  max-width: 50%;
  margin-top: 60px;
  background: #8fbbbc;
  box-shadow: 0 4px 15px black;
  
}
  

