body {
  margin: 0;
  background: rgb(218,120,129);
  background: radial-gradient(circle, rgba(218,120,129,0.6814075972185749) 64%, rgba(255,102,0,0.5833683815323004) 91%);



  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
